/* body {
    background-image: url("background.jpg");
	background-size: cover;
	
}
*/
img
{
	height: 300px;
	width : 435px;
}
h1{
color:#430360;
text-align: center;
font-size: 50px;
background-size: cover;
background-image: url("img1.jpg");
width:100%;
}
nav{
	height: 30px;
	
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
img:hover{
opacity: 0.5;
}
img{
	opacity:1;
	padding-left:10px;
	}
	p {
    text-indent: 50px;
}
h2{
	text-align: center;
}
form{

margin-left: 530px;
}
#formbg{
	background-color:#d9dce0  ;
}
#imgpadding{
	padding-left:50px;
	
}
#tablepadding{
	margin-left: 380px;
	
}

#address{
	font-size:15px;
	
}









	